@inherits LayoutComponentBase
<MApp>
    <MNavigationDrawer App Permanent Width="80">
        <div class="d-flex flex-column" style="height: inherit">
            <MList Nav Routable Dense>
                <MListItem Href="/CommandUI" ActiveClass="primary--text">
                    <MListItemContent >
                        <MListItemIcon Class="d-flex justify-center">
                            <MIcon Icon="@("mdi-home")"/>
                        </MListItemIcon>
                        <MListItemSubtitle Class="d-flex justify-center">Cmd</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/DataLog" ActiveClass="primary--text">
                    <MListItemContent >
                        <MListItemIcon Class="d-flex justify-center">
                            <MIcon Icon="@("mdi-database")"/>
                        </MListItemIcon>
                        <MListItemSubtitle Class="d-flex justify-center">Log</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/ControlUI" ActiveClass="primary--text">
                    <MListItemContent >
                        <MListItemIcon Class="d-flex justify-center">
                            <MIcon Icon="@("mdi-home")"/>
                        </MListItemIcon>
                        <MListItemSubtitle Class="d-flex justify-center">Control</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            </MList>
            <MList Nav Routable Dense Class="mt-auto">
                <MListItem Href="/setting" ActiveClass="primary--text">
                    <MListItemContent>
                        <MListItemIcon  Class="d-flex justify-center">
                            <MIcon Icon="@("mdi-cog")"/>
                        </MListItemIcon>
                        <MListItemTitle  Class="d-flex justify-center">Setting</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
        </div>

    </MNavigationDrawer>
    <MMain>
        <MContainer Fluid Style="height:100%">
            <MErrorHandler>
                @Body
            </MErrorHandler>
        </MContainer>
    </MMain>
</MApp>

@code {

}